@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color-scheme: dark;
  font-family: industry,sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bg-video {
  background-image: url('/The-next-gen-earphones.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.indusrty-light {
  font-family: industry,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.industry-bold {
  font-family: industry,sans-serif;
  font-weight: 700;
  font-style: normal;
}

model-viewer {
  width: 100%;
  height: 500px;
}

::focus {
  outline:none;
}

.intro {  
  overflow: hidden;
}

.ReactModal__Content {
  padding: 0 !important;
  border-radius: 0 !important;
  border: 0 !important;
  inset: 0 !important;
  background-color: #1e1e1e !important;
}

body.ReactModal__Body--open {overflow-y: hidden;max-height: 100vh;}

.section-nts {
  background-image: url('/bg-NTS.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-slide {
  flex: none;
}

.section-kunai-software {
  background-image: url('/bg-kunai.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 3650px;
  left: 50%;
  top: 50%;
  margin-top: -294px;
  margin-left: -1825px;
  z-index: -20;
}

.marquee img {
  display: inline-block;   
  opacity: .4;  
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0);
    opacity: 1;
  }
}

.model-shuriken {
  background-image: url('/sfumatura.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.card-accessori {
  display: flex;
  align-items: flex-end;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 20px;
  font-size: 32px;
  line-height: 38px;
  background-size: cover;
  background-position: center;
}

.card-accessori.foam {
  height: 320px;
  margin-bottom: 5px;
  border-color:#AF0090;
  background-image: url('/foam-eartip.png');
}

.card-accessori.mobile {
  height: 320px;
  border-color:#4AB167;
  background-image: url('/modulo-mobile.png');
}

.card-accessori.wirless {
  height: 430px;
  margin-bottom: 5px;
  border-color:#FE774C;
  background-image: url('/modulo-wirless.png');
}

.card-accessori.eartip {
  height: 210px;
  border-color:#6960D0;
  background-image: url('/eartip-aggiuntivi.png');
}

.card-accessori.calco {
  height: 645px;
  border-color:#DBB758;
  background-image: url('/calco.png');
}

.card-accessori.cavo {
  height: 645px;
  border-color:#2AE5FF;
  background-image: url('/cavo-con-microfono.png');
}

.card-accessori.cavo-premium {
  height: 275px;
  margin-bottom: 5px;
  border-color:#DB265C;
  background-image: url('/cavo-con-lunghezze-variabili.png');
}

@media only screen and (max-width:1023px) {
  .marquee {
    display: none;
  }

  .card-accessori {    
    font-size: 25px;
  }

}