@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color-scheme: dark;
  font-family: industry,sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bg-video {
  background-image: url('/bg-video-intro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.indusrty-light {
  font-family: industry,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.industry-bold {
  font-family: industry,sans-serif;
  font-weight: 700;
  font-style: normal;
}

model-viewer {
  width: 100%;
  height: 500px;
}

::focus {
  outline:none;
}

.intro {
  max-width: 1920px;
  margin: -75px auto 0;
  overflow: hidden;
}

.ReactModal__Content {
  padding: 0 !important;
  border-radius: 0 !important;
  border: 0 !important;
  inset: 0 !important;
  background-color: #1e1e1e !important;
}

body.ReactModal__Body--open {overflow-y: hidden;max-height: 100vh;}

.section-nts {
  background-image: url('/bg-NTS.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-accessori {
  display: flex;
  align-items: flex-end;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 20px;
  font-size: 32px;
  line-height: 38px;
}

.card-accessori.foam {
  height: 320px;
  margin-bottom: 5px;
  border-color:#AF0090;
}

.card-accessori.mobile {
  height: 320px;
  border-color:#4AB167;
}

.card-accessori.wirless {
  height: 430px;
  margin-bottom: 5px;
  border-color:#FE774C;
}

.card-accessori.eartip {
  height: 210px;
  border-color:#6960D0;
}

.card-accessori.calco {
  height: 645px;
  border-color:#DBB758;
}

.card-accessori.cavo {
  height: 645px;
  border-color:#2AE5FF;
}

.card-accessori.cavo-premium {
  height: 275px;
  margin-bottom: 5px;
  border-color:#DB265C;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-slide {
  flex: none;
}

.section-kunai-software {
  background-image: url('/bg-kunai.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 3650px;
  left: 0;
  top: 50%;
  margin-top: -144px;
}

.marquee img {
  display: inline-block;
  padding-left: 51%;  
  animation: marquee 10s linear infinite;
  opacity: .1;  
}

.marquee2 img {
  animation-delay: 5s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}